PORT=5001
CLIENT_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:5001
BETTER_AUTH_SECRET=add_your_better_auth_secret
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/arthub?retryWrites=true&w=majority
GOOGLE_CLIENT_ID=add_later_if_google_login_required
GOOGLE_CLIENT_SECRET=add_later_if_google_login_required
STRIPE_SECRET_KEY=sk_test_add_later
STRIPE_SUCCESS_URL=http://localhost:3000/dashboard/user?payment=success
STRIPE_CANCEL_URL=http://localhost:3000/artworks?payment=cancelled
